<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post">
    <label for="name-field">Name</label>
    <input id="name-field" type="text" name="cheeseName" />
    <br />
    <label for="desc-field">Description</label>
    <input id="desc-field" type="text" name="cheeseDescription" />
    <br />
    <input type="submit" value="Add Cheese" />
</form>

</body>
</html>