<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<div th:if="${error}" class="alert alert-danger">
    <p th:text="${error}"></p>
</div>

<form method="post" style="max-width:600px;">
    <div class="form-group">
        <label for="username-field">Username</label>
        <input class="form-control" id="username-field" type="text" name="username"  th:value="${user != null} ? ${user.username} : null"/>
    </div>
    <div class="form-group">
        <label for="email-field">Email</label>
        <input class="form-control" id="email-field" type="email" name="email" th:value="${user != null} ? ${user.email} : null"/>
    </div>
    <div class="form-group">
        <label for="password-field">Password</label>
        <input class="form-control" id="password-field" type="password" name="password" />
    </div>
    <div class="form-group">
        <label for="verify-field">Verify Password</label>
        <input class="form-control" id="verify-field" type="password" name="verify" />
    </div>
    <input type="submit" value="Add User" />
</form>

</body>
</html>