<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">My Cheeses</title>

    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<div th:fragment="navigation">

    <div th:if="${userId}">

        <nav class="user-nav">
            <a href="/logout">Log Out</a>
        </nav>

        <nav>
            <a href="/cheese">Home</a> |
            <a href="/category">Categories</a> |
            <a href="/menu">Menus</a>
        </nav>

    </div>

    <div th:unless="${userId}">
        <nav>
            <a href="/login">Log In</a> |
            <a href="/register">Register</a>
        </nav>
    </div>

</div>

</body>
</html>